@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+SK:wght@100..400&display=swap');
/* General Style */
.appHead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: yellow;
}

/* HeadNavigation list */
.navigation ul{
    list-style: none;
    display:flex;
    gap:20px;
}
.navigation ul li{
    position: relative;
    cursor: pointer;
}
.navigation ul li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height:3px;
    width: 0%;
    background-color: rgb(255, 120, 66);
    transition: all .5s ease-in-out;
}
.navigation ul li:hover::after{
    width: 100%;
}

/* Title style */
.title h1{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Search Bar Style */
.searchBar input{
    width:500px;
    height: 40px;
    padding-inline: 15px;
    border: none;
    border-radius: 24px 0px 0px 24px;
    outline: none;
}
.searchBar #searchbtn{
    height: 40px;
    width: 40px;
    border-radius:0px 24px 24px  0px;
    border: none;
    background-color: #999;
}